.new-tweet {
  width: 100%;
}

.tweet-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

.tweet-button {
  font-family: 'Bungee', cursive;
  font-size: 18px;
  background-color: #4056A1;
  color: #FFFFFF;
}

#tweet-text {
  width: 100%;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom: 5px solid #545149;
  background-color: #f4f1ec;
}

.too-long {
  color: red;
}

#button-and-errors {
  display: flex;

}

#submit-errors {
  color: red;
  margin: 0px;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

.submit-error-spacer {
  width: 15px;
}